.home {
  @apply h-screen w-screen relative flex;
  background-image: url("/vectors/herobg.svg");
}
.homeleft {
  @apply ml-[7rem] pt-[5rem];
}
.build {
  @apply text-8xl text-[#18214d] font-bold mt-48 max-w-[35rem];
}
.join {
  @apply text-xl text-[#3e4562] font-normal mt-8 max-w-[33rem];
}
.button {
  @apply bg-green-800 text-white h-12 w-44  mt-5 text-lg rounded;
}
.icons {
  @apply flex space-x-6 cursor-pointer mt-20 h-10 w-10;
}

.side {
  @apply ml-64  h-[100%] w-[50%] absolute top-0 right-0;
}
/* .sidee {
  @apply h-[40%] w-[40%] absolute top-0 right-0;
} */

.heading {
  @apply ml-[7rem] flex mt-[8rem] mb-20 gap-24 max-w-[85%];
}
.state {
  @apply text-6xl text-[#18214d] font-bold max-w-[45rem];
}
.inclusive {
  @apply text-[1.1rem] text-[#3e4562] font-normal max-w-[29rem];
}
.office {
  @apply ml-[7rem] h-[50%] w-[85%];
}
.secondbuttom {
  @apply ml-[7rem] mb-[8rem] flex space-x-20 mt-20 text-[#3e4562] w-[85%];
}
.iconss {
  @apply text-2xl;
}

.design {
  @apply max-w-[26rem] mt-2 text-[1.2rem];
}
.building {
  @apply max-w-[22rem] mt-2 text-[1.2rem];
}
.buildingg {
  @apply max-w-[22rem] mt-2 text-[1.2rem];
}
.work {
  @apply max-w-[25rem];
}
.one {
  @apply max-w-[80%] flex space-x-3 mt-8 items-start;
}

.third {
  @apply pl-[7rem] bg-[#f0f2f6] grid grid-cols-2 py-24 mt-6;
}

.mobile {
  @apply text-6xl text-[#18214d] font-bold max-w-[40rem] mb-4;
}
.left {
  border-right: 1px solid gray;
}
.right {
  @apply pl-20;
}
.world {
  @apply text-[#3e4562] max-w-[40rem] mb-6  text-[1.1rem];
}
.learn {
  @apply bg-green-800 text-white h-12 w-44  mt-5 text-lg rounded;
}
.line-one {
  @apply flex items-start mb-10;
}

.program {
  @apply text-green-800 font-normal text-2xl ml-4;
}
.training {
  @apply text-[1.1rem] text-[#3e4562] font-medium max-w-[30rem] ml-4;
}
.custom {
  @apply text-slate-400 text-lg;
}

.packages {
  @apply bg-[#f4f8f6] pt-[8rem] pb-[7rem];
}
.expert {
  @apply max-w-[91%] mx-auto  flex flex-col justify-center items-center;
}
.expertise {
  @apply text-6xl text-[#18214d] font-bold;
}
.expertisee {
  @apply text-[1.3rem] text-[#18214d] font-medium max-w-[40rem];
}
.container {
  @apply max-w-[50%] mx-auto mt-10;
}
.img {
  @apply flex flex-wrap w-full space-x-24 gap-y-16 items-center justify-center pt-[4rem] pb-[4rem];
}
.code {
  @apply max-w-[100%] mx-auto  flex flex-col justify-center items-center pt-24 pb-24;
}
.codevillage {
  @apply pl-12 mb-6 text-6xl text-[#18214d] font-bold max-w-[40rem];
}
.codevillagee {
  @apply pl-3 mb-6 text-[#3e4562] max-w-[45rem] font-normal text-lg  space-x-28 text-center;
}
.secure {
  @apply flex text-[#3e4562] font-semibold text-lg gap-3;
}
.lastpath {
  @apply max-w-[100%] bg-[#f4f8f6]  pl-[8rem] pt-28 pb-28;
}
.lastpathh {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  max-width: 95%;
  border-bottom: 1px solid #dfe4ea;
}

.logoo {
  height: 4rem;
}
.contact {
  @apply text-[1.5rem] text-[#3e4562] font-bold;
}
.activities {
  @apply text-[1.2rem] max-w-[15rem] mt-4 text-[#3e4562];
}
.activitiess {
  @apply max-w-[16rem] mt-4 text-[1.2rem] text-[#3e4562] pt-2;
}
.talent {
  padding-right: 4rem;
}
.programm {
  padding-right: 4rem;
}
.link {
  padding-right: 10rem;
}
.address {
  padding-right: 4rem;
}
.number {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 800;
}
.numberr {
  font-weight: 800;
  margin-bottom: 5rem;
}

.lastt {
  display: flex;

  gap: 57rem;
  color: #555866;
  font-size: 1.1rem;

  margin-top: 2rem;
}
.iconsss {
  display: flex;
  gap: 2.5rem;
  height: 1.5rem;
}
