.home {
  @apply h-screen w-screen relative flex;
  background-image: url("/vectors/herobg.svg");
}
.homeleft {
  @apply ml-[7rem] pt-[5rem];
}
.build {
  @apply text-8xl text-[#18214d] font-bold mt-48 max-w-[35rem];
}
.join {
  @apply text-xl text-[#3e4562] font-normal mt-8 max-w-[33rem];
}
.button {
  @apply bg-green-800 text-white h-12 w-44  mt-5 text-lg rounded;
}
.icons {
  @apply flex space-x-6 cursor-pointer mt-20 h-10 w-10;
}

.side {
  @apply ml-64  h-[100%] w-[50%] absolute top-0 right-0;
}
/* .sidee {
  @apply h-[40%] w-[40%] absolute top-0 right-0;
} */
.second {
  @apply ml-[7rem] pt-[5rem] w-full;
}
.heading {
  @apply flex mt-8 mb-20 gap-24;
}
.state {
  @apply text-6xl text-[#18214d] font-bold max-w-[45rem];
}
.inclusive {
  @apply text-xl text-[#3e4562] font-normal max-w-[30rem];
}
.office {
  @apply h-[50%] w-[90%];
}
.secondbuttom {
  @apply flex space-x-20 mt-20 text-[#3e4562];
}
.iconss {
  @apply text-2xl;
}

.design {
  @apply max-w-[23rem];
}
.building {
  @apply max-w-[30rem];
}
.work {
  @apply max-w-[25rem];
}
.one {
  @apply flex space-x-3 mt-8 items-start;
}

.third {
  @apply pl-[7rem] bg-[#f0f2f6] grid grid-cols-2 py-32 mt-10;
}
.mobile {
  @apply text-6xl text-[#18214d] font-bold max-w-[40rem] mb-4;
}
.left {
  border-right: 1px solid gray;
}
.right {
  @apply pl-20;
}
.world {
  @apply text-[#3e4562] max-w-[30rem] mb-6;
}
.learn {
  @apply bg-green-800 text-white h-12 w-44  mt-5 text-lg rounded;
}
.line-one {
  @apply flex items-start mb-10;
}

.program {
  @apply text-green-800 font-normal text-2xl ml-4;
}
.training {
  @apply text-[1.1rem] text-[#3e4562] font-medium max-w-[30rem] ml-4;
}
.custom {
  @apply text-slate-400 text-lg;
}

.sectioncode {
  @apply pt-32 space-y-20 pl-28  bg-[#f4f8f6];
}
.expertise {
  @apply text-6xl text-[#18214d] font-bold;
}
.expertisee {
  @apply text-[1.1rem] text-[#3e4562] font-medium max-w-[30rem];
}
.image-one {
  @apply flex;
}
.image-two {
  @apply flex;
}
.image-three {
  @apply flex;
}
.image-four {
  @apply flex;
}
.lastpath {
  background-color: aqua;
  padding: 7rem 10rem;
  height: 40rem;
}
.logoo {
  height: 8rem;
  width: 8rem;
}
.lastt {
  display: flex;
  margin-left: 5rem;
  gap: 24rem;
}
.iconss {
  @apply flex;
}
